asgiref==3.11.1
charset-normalizer==3.4.9
Django==5.2.6
django-environ==0.14.0
et_xmlfile==2.0.0
openpyxl==3.1.5
packaging==26.2
pillow==12.3.0
qrcode==8.2
reportlab==4.4.10
setuptools==83.0.0
sqlparse==0.5.5
wheel==0.47.0
xlrd==1.2.0
