{% extends "base/base.html" %}

{% block title %}
Registrar Ingreso
{% endblock %}

{% block content %}

<div class="card">

    <h2>Registrar ingreso</h2>

    <p>Captura de ingresos.</p>

    <form method="post">

        {% csrf_token %}

        <div class="form-grid">

            {{ form.as_p }}

        </div>

        <div class="actions">

            <button
                type="reset"
                class="btn-secondary">

                Cancelar

            </button>

            <button
                type="submit"
                class="btn-primary">

                Guardar ingreso

            </button>

        </div>

    </form>

</div>

{% endblock %}